<a href="#" class="list-group-item">
	<h4 class="list-group-item-heading"> <%= post.title %></h4>
	<p class="list-group-item-text"><%= post.body %></p>
	<div class="posted-by">
		<p class="list-group-item-text">
			Posted By
			<% if logged_in? %>
				<%= User.find_by(id: post.user_id).name %>
			<% else %>
				Anon
			<% end %>
		</p>
	</div>
</a>